# mubelet
MUBELET_NODE_NAME=mube-node-1
MUBELET_RUNTIME=containerd
MUBELET_VERSION=0.1.0
MUBELET_CAPACITY=10
MUBE_API_SERVER=http://127.0.0.1:8080
MUBELET_HEARTBEAT_INTERVAL=10s
MUBELET_HEALTH_LISTEN=:10250
MUBELET_SHUTDOWN_TIMEOUT=5s
